$mq-mobile-s-portrait: 374px !default;
$mq-mobile-m-portrait: 375px !default;
$mq-mobile-l-portrait: 425px !default;
$mq-mobile-ll-portrait: 600px !default;
$mq-mobile-xl-portrait: 767px !default;
$mq-tablet-portrait: 768px !default;
$mq-tablet: 991px !default;
$mq-min-tablet: 992px !default;
$mq-tablet-landscape: 1024px !default;
$mq-notebook: 1366px !default;
$mq-laptop-s: 1199px !default;
$mq-laptop-xs: 1280px !default;
$mq-laptop: 1440px !default;
$mq-laptop-l: 1680px !default;
$mq-laptop-xl: 1900px !default;

$container-size: 1430px;

@mixin custom-size($size) {
	@media (max-width : $size) {
		@content;
	}
}

@mixin min-custom-size($size) {
	@media (min-width : $size) {
		@content;
	}
}

@mixin portrait_view($size){
    @media (max-width: $size ) and (orientation: portrait ){
        @content;
    }
}

@mixin landscape_view($size){
    @media (max-width: $size ) and (orientation: landscape){
        @content;
    }
}

//374px
@mixin mobile-s {
    @media (max-width: $mq-mobile-s-portrait) {
        @content;
    }
}

@mixin mobile-m {
    @media (max-width: $mq-mobile-m-portrait) {
        @content;
    }
}
//425px
@mixin mobile-l {
    @media (max-width: $mq-mobile-l-portrait) {
        @content;
    }
}
// max-width: 600px;
@mixin mobile-ll {
    @media (max-width: $mq-mobile-ll-portrait) {
        @content;
    }
}
//max-width: 767px;
@mixin mobile-xl {
    @media (max-width: $mq-mobile-xl-portrait) {
        @content;
    }
}
//max-width: 1024px;
@mixin mobile-type {
    @media (max-width: $mq-tablet-landscape) {
        @content;
    }
}
//max-width:991px;
@mixin mobile-type-l {
    @media (max-width: $mq-tablet) {
        @content;
    }
}
//1366px
@mixin notebook {
    @media (max-width: $mq-notebook) {
        @content;
    }
}
// max-width:1200px;
@mixin laptop-s {
    @media (max-width: $mq-laptop-s) {
        @content;
    }
}

@mixin laptop-xs {
    @media (max-width: $mq-laptop-xs) {
        @content;
    }
}

// 1440px
@mixin laptop {
    @media (max-width: $mq-laptop) {
        @content;
    }
}

@mixin laptop-l {
    @media (max-width: $mq-laptop-l) {
        @content;
    }
}

@mixin laptop-xl {
    @media (max-width: $mq-laptop-xl) {
        @content;
    }
}

@mixin container-size {
    @media (max-width: $container-size) {
        @content;
    }
}

// @mixin portrait_view{
//     @media (max-width: $mq-tablet ) and (orientation: portrait){
//         @content;
//     }
// }
@mixin portrait_view-small{
    @media (max-width: $mq-mobile-xl-portrait ) and (orientation: portrait){
        @content;
    }
}
@mixin portrait_view-x-small{
    @media (max-width: $mq-mobile-l-portrait ) and (orientation: portrait){
        @content;
    }
}
//min-width
@mixin min-laptop-l {
    @media (min-width: $mq-laptop-s) {
        @content;
    }
}

@mixin min-tablet {
    @media (min-width: $mq-min-tablet) {
        @content;
    }
}

@mixin sidebar-custom {
    @media all and (min-width: $mq-min-tablet ) and (max-width: $mq-laptop-s) {
        @content;
    }
}

@mixin center-block { 
    margin-left: auto; 
    margin-right: auto; 
}
