#info-floating.info-floating.sticky-top
	.inner
		.info-icon
			img(src="./images/icon/icon_info.png", alt="info")
		h3.title
			="”what are you looking for? ”"
		ul.list
			li
				a(href="#你在找甚麼")
					="你在找什麼？"
			li
				a(href="#目錄下載PDF")
					i.fas.fa-check
					="目錄下載PDF"
			li
				a(href="聯絡我們>>")
					i.fas.fa-check
					="聯絡我們>>"

