.footer-content
	.container
		.footer-company-info.footer-info
			img(src="./images/footer-logo.png", alt="")
			h3.company-name-footer
				="實固股份有限公司"
			ul
				li
					a(href="#")
						span
							="地址："
						="台中市西屯區台灣大道四段1836號"
				li
					a(href="#")
						span
							="電話："
						="04-23598338"
				li
					a(href="#")
						span
							="傳真："
						="04-23598480"
				li
					a(href="#")
						span
							="信箱："
						="info@sucoot.com"
		.footer-menu.footer-info
			ul
				li
					a(href="#首頁") 首頁
				li
					a(href="#關於我們") 關於我們
				li
					a(href="#最新消息") 最新消息
				li
					a(href="#檔案下載") 檔案下載
		.footer-product-menu.footer-info
			.title
				="產品"
			ul
				li
					a(href="#鷹架") 鷹架
				li
					a(href="#模板") 模板
				li
					a(href="#零配件") 零配件
				li
					a(href="#相關製造機械") 相關製造機械
		.footer-application.footer-info
			.title
				="工程應用"
			.application-list.application
				.sub-title
					="鷹架"
					i.fas.fa-caret-right
				ul
					li
						a(href="#支撐架") 支撐架
					li
						a(href="#施工架") 施工架
					li
						a(href="#舞台") 舞台
					li
						a(href="#支撐架") 上下設備
			.application-list.stencil
				.sub-title
					="模板"
					i.fas.fa-caret-right
				ul
					li
						a(href="#建築") 建築
					li
						a(href="#柱模") 柱模
					li
						a(href="#牆模") 牆模
					li
						a(href="#樑/模板")
							="樑/板模"
				ul
					li
						a(href="#大型土木") 大型土木
					li
						a(href="#橋梁") 橋梁
					li
						a(href="#隧道") 隧道
					li
						a(href="#大型牆模") 大型牆模
		.footer-contact.footer-info
			.title 聯絡我們
			.qrcode
				img(src="./images/qrcode.jpg", alt="")
			ul.social
				li
					a.facebook(href="#facebook")
						i.fab.fa-facebook-f
				li
					a.blogger(href="#blogger")
						i.fab.fa-blogger-b
				li
					a.linkedin(href="#linkedin")
						i.fab.fa-linkedin-in
				li
					a.youtube(href="#fa-youtube-square")
						i.fab.fab.fa-youtube
				li
					a.pdf(href="#fa-file-pdf")
						i.far.fa-file-pdf

		.footer-certified.footer-info
			ul
				li
					img(src="./images/certified-1.jpg", alt="")
				li
					img(src="./images/certified-2.jpg", alt="")
				li
					img(src="./images/certified-3.jpg", alt="")



.footer-bottom
	.copy-right
		.container
			.row
				.col-md-6
					p.text-left
						="Copyright ©2018SUCOOT CO., LTD. "
				.col-md-6
					p.text-right
						="Design byTaiwan Products, B2BManufactures, B2BChinaSources"
					