ul.navbar-nav
	li.active
		a(href="#index") 首頁
	li
		a(href="#about") 關於我們
	li
		a(href="product-list.html#products") 產品
		ul.sub-menu
			li
				a(href="product-list.html#鷹架") 鷹架
					<i class="fas fa-caret-right"></i>
				ul
					li
						a(href="product-list.html#重型架")
							="重型架Ø60.2"
					li
						a(href="product-list.html#輕型架Ø48.6")
							="輕型架Ø48.6"
			li
				a(href="#模板") 模板
					<i class="fas fa-caret-right"></i>
				ul
					li
						a(href="#Top Beam")
							="Top Beam"
					li
						a(href="#Base Beam")
							="Base Beam"
			li
				a(href="#零配件") 零配件
					<i class="fas fa-caret-right"></i>
				ul
					li
						a(href="#鷹架零配件")
							="鷹架零配件"
					li
						a(href="#模板零配件")
							="模板零配件"
			li
				a(href="#相關製造機") 相關製造機
					<i class="fas fa-caret-right"></i>
	li
		a(href="#application") 工程應用
	li
		a(href="#news") 最新消息
	li
		a(href="#contact") 聯絡我們
	li
		a(href="#download") 檔案下載
