extends _layouts/page

block head_end

	title title
	meta(name= "title", content= "")
	meta(name= "description", content= "")
	meta(name= "keywords", content= "" )

	// twitter card start
	meta(property= "twitter:card", content= "summary")
	meta(property= "twitter:url", content= "//")
	meta(property= "twitter:title", content= "矩陣國際股份有限公司")
	meta(property= "twitter:description", content= "矩陣國際股份有限公司")
	meta(property= "twitter:site", content= "矩陣國際股份有限公司")

	// fb start
	meta(property= "og:title", content= "矩陣國際股份有限公司")
	meta(property= "og:url", content= "//")
	meta(property= "og:description", content= "矩陣國際股份有限公司")
	meta(property= "og:image", content= "images/")
	meta(property= "og:image:type", content="images/")
	meta(property= "og:image:width", content="5000")
	meta(property= "og:image:height", content="3000")

	//plugin

	//- link(rel="stylesheet" href="script/swiper/swiper.min.css")	
	link(rel="stylesheet" href="script/swiper/swiper.min.css")
	script(src='script/swiper/swiper.min.js')
	script(src='script/Vide/jquery-loader.js')

	//custom css
	link(rel="stylesheet" href="css/index.css")



block content
	.video-banner(data-vide-bg="mp4: video/sucoot_banner.mp4, poster: images/index/sucoot_banner_first_Moment.jpg" ,data-vide-options="posterType: jpg, loop: true, muted: false, position: 0% 0%")
		.logo-info
			img(src="images/index/index-banner.png", alt="sucoot logo")
	section.company-info
		.container
			.area-wrapper
				.product-area.area
					.leftwrap
						.title
							h3
								="PRODUCTS"
							.icon
								svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 51 51", style="enable-background:new 0 0 51 51;", xml:space="preserve")
									g
										g
											path(d="M10.6,10.2L5.2,6.8c-1.1-0.7-2-0.2-2,1.1v7.1c0,1.3,0.9,1.8,2,1.1l5.4-3.4C11.7,12,11.7,10.8,10.6,10.2z M45.5,7.9H17.3c-1.3,0-2.4,1.1-2.4,2.4v2.4c0,1.3,1.1,2.4,2.4,2.4h28.2c1.3,0,2.4-1.1,2.4-2.4v-2.4C47.9,8.9,46.8,7.9,45.5,7.9z M5.2,30.1l5.4-3.4c1.1-0.7,1-1.7-0.1-2.3l-5.2-2.6c-1.2-0.6-2.1,0-2.1,1.3V29C3.2,30.3,4.1,30.8,5.2,30.1z M45.5,22H17.3 c-1.3,0-2.4,1.1-2.4,2.4v2.4c0,1.3,1.1,2.4,2.4,2.4h28.2c1.3,0,2.4-1.1,2.4-2.4v-2.4C47.9,23,46.8,22,45.5,22z M10.6,38.4L5.2,35 c-1.1-0.7-2-0.2-2,1.1v7.1c0,1.3,0.9,1.8,2,1.1l5.4-3.4C11.7,40.2,11.7,39.1,10.6,38.4z M45.5,36.1H17.3c-1.3,0-2.4,1.1-2.4,2.4 v2.4c0,1.3,1.1,2.4,2.4,2.4h28.2c1.3,0,2.4-1.1,2.4-2.4v-2.4C47.9,37.1,46.8,36.1,45.5,36.1z")

					.product-list.list
						.item
							a(href="#link")
								="+ 鷹架 - 重型架 Ø60.2"
						.item
							a(href="#link")
								="+ 鷹架 - 重型架 Ø60.2"
						.item
							a(href="#link")
								="+ 鷹架 - 重型架 Ø60.2"
						.item
							a(href="#link")
								="+ 鷹架 - 重型架 Ø60.2"
						.item
							a(href="#link")
								="+ 鷹架 - 重型架 Ø60.2"
						.item
							a(href="#link")
								="+ 鷹架 - 重型架 Ø60.2"
						.item
							a(href="#link")
								="+ 鷹架 - 重型架 Ø60.2"
					.btn-plus

				.news-area.area
					.leftwrap
						.title
							h3
								="NEWS"
							.icon
								svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 51 51", style="enable-background:new 0 0 51 51;", xml:space="preserve")
									g
										g
											path(d="M44.7,11.1h-7.1V7.6c0-1.6-1.3-2.8-2.8-2.8c-1.6,0-2.9,1.3-2.9,2.8v3.5H19.1V7.6c0-1.6-1.3-2.8-2.9-2.8 c-1.6,0-2.8,1.3-2.8,2.8v3.5H6.3c-1.2,0-2.1,1-2.1,2.1v31c0,1.2,1,2.1,2.1,2.1h38.5c1.2,0,2.1-1,2.1-2.1v-31 C46.9,12,45.9,11.1,44.7,11.1z M24.1,20.6v5.7h-6.8v-5.7H24.1z M26.9,20.6h6.8v5.7h-6.8V20.6z M14.5,20.6v5.7H8.4v-5.7H14.5z M14.5,29.2v4.3H8.4v-4.3H14.5z M17.3,29.2h6.8v4.3h-6.8V29.2z M24.1,36.3V42h-6.8v-5.8H24.1z M26.9,36.3h6.8V42h-6.8V36.3z M26.9,33.4v-4.3h6.8v4.3H26.9z M36.6,29.2h6.1v4.3h-6.1V29.2z M36.6,26.3v-5.7h6.1v5.7H36.6z M8.4,36.3h6.1V42H8.4V36.3z M36.6,42 v-5.8h6.1V42H36.6z")
					.news-list.list
						.item
							a(href="#link")
								span.date
									="．2018-01-18"
								="恭賀實固台中沙鹿物流中心全新落 "
						.item
							a(href="#link")
								span.date
									="．2018-01-18"
								="公告2018年實固春節假期"
						.item
							a(href="#link")
								span.date
									="．2018-01-18"
								="本公司將參與國拉斯維加斯 建材展"
						.item
							a(href="#link")
								span.date
									="．2018-01-18"
								="Jiangdong Ave"
						.item
							a(href="#link")
								span.date
									="．2018-01-18"
								="New Logistic Centre"
					.btn-plus
	section.about
		.container
			.line-icon
			.icon
				img(src="images/logo_small.png", alt="logo")
			h3.title
				="ABOUT US"		
			p.description
				="實固股份有限公司從事鷹架零件及模板配件的研發生產已有超過30年經驗，為全台灣最專業、產品最齊全的廠商，並已外銷世界65國。本公司產品向來以實用、堅固、安全性高著稱，是業主、監造單位、營造廠及模板業者的最佳選擇。就生產製程來說，我們專精於「圓盤系統®」鷹架的燒焊工藝與鐵件鑄造、滾牙及鍛造技術，每件成品均經嚴格品檢和安全測試，品質絕對達到世界一流水準。尤其是「圓盤系統®支撐架」產品，更受到國內各營造施工單位的肯定與廣泛使用，實績包括高鐵、高速公路、快速道路、捷運、鐵路高架化、高科技廠房、大型演唱會舞台、區運會及各類選舉看台…等工程，足跡遍佈全台；目前更已外銷泰國、新加坡、菲律賓、馬來西亞、杜拜、以色列、南非、西班牙、越南、印尼、俄羅斯與哥倫比亞等國，將台灣經驗成功複製到全球各地的公共工程上。除此之外，本公司在2008年藉由圓盤系統®支撐架成功的發展經驗，陸續開發出輕量化的圓盤系統®施工架體系，一舉進入鋼鐵、石化業的施工架市場，並占有一席之地。就連國際大導演李安在台灣拍攝<少年Pi的奇幻漂流>時，要找國際級的施工架系統，第一個找上的就是實固。再再顯示，實固優良的圓盤系統®支撐架與施工架體系，能協助客戶解決施工問題，且深得客戶的認同與採用。相信以我們精良的製造技術、豐富的工程經驗及誠摯的服務熱情，必可提供讓您滿意的最佳解決方案。"
			a.btn.btn-default.blue-btn(href="#Learn More")
				="Learn More"

	section.application
		.container
			.title-wrapper
				h3.title
					="案件應用"
					span
						="APPLICATIOM"
			.application-list-outline
				.product-list-wrap.application-wrap
					ul.product-list
						li
							a(href="#application")
								.image-info
									img.img-fluid(src="images/application/application-1.jpg", alt="")
									.detail
										.detail-inner
											span.name
												="鷹架-支撐架"
											span.btn.btn-default.blue-btn(href="#Learn More")
												="Learn More"
									.more-detail
									span.application-name
										="鷹架-支撐架"
						li
							a(href="#application")
								.image-info
									img.img-fluid(src="images/application/application-2.jpg", alt="")
									.detail
										.detail-inner
											span.name
												="鷹架-施工架"
											span.btn.btn-default.blue-btn(href="#Learn More")
												="Learn More"
									.more-detail
									span.application-name
										="鷹架-施工架"
						li
							a(href="#application")
								.image-info
									img.img-fluid(src="images/application/application-3.jpg", alt="")
									.detail
										.detail-inner
											span.name
												="鷹架-舞台"
											span.btn.btn-default.blue-btn(href="#Learn More")
												="Learn More"
									.more-detail
									span.application-name
										="鷹架-舞台"
						li
							a(href="#application")
								.image-info
									img.img-fluid(src="images/application/application-4.jpg", alt="")
									.detail
										.detail-inner
											span.name
												="鷹架-上下設備"
											span.btn.btn-default.blue-btn(href="#Learn More")
												="Learn More"
									.more-detail
									span.application-name
										="鷹架-上下設備"
						li
							a(href="#application")
								.image-info
									img.img-fluid(src="images/application/application-5.jpg", alt="")
									.detail
										.detail-inner
											span.name
												="模板-建築-柱模"
											span.btn.btn-default.blue-btn(href="#Learn More")
												="Learn More"
									.more-detail
									span.application-name
										="模板-建築-柱模"
						li
							a(href="#application")
								.image-info
									img.img-fluid(src="images/application/application-6.jpg", alt="")
									.detail
										.detail-inner
											span.name
												="模板-建築-牆模"
											span.btn.btn-default.blue-btn(href="#Learn More")
												="Learn More"
									.more-detail
									span.application-name
										="模板-建築-牆模"
						li
							a(href="#application")
								.image-info
									img.img-fluid(src="images/application/application-7.jpg", alt="")
									.detail
										.detail-inner
											span.name
												="模板-建築-梁/板模"
											span.btn.btn-default.blue-btn(href="#Learn More")
												="Learn More"
									.more-detail
									span.application-name
										="模板-建築-梁/板模"
						li
							a(href="#application")
								.image-info
									img.img-fluid(src="images/application/application-8.jpg", alt="")
									.detail
										.detail-inner
											span.name
												="模板-大型土木-橋梁"
											span.btn.btn-default.blue-btn(href="#Learn More")
												="Learn More"
									.more-detail
									span.application-name
										="模板-大型土木-橋梁"
						li
							a(href="#application")
								.image-info
									img.img-fluid(src="images/application/application-9.jpg", alt="")
									.detail
										.detail-inner
											span.name
												="模板-大型土木"
											span.btn.btn-default.blue-btn(href="#Learn More")
												="Learn More"
									.more-detail
									span.application-name
										="模板-大型土木"
				a.btn.btn-default.blue-btn(href="#EXPLORE MORE")
					="EXPLORE MORE"	


			
		


block body_end

	//custom js
	//- script(src='script/index.js')

	