doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
    meta(name="author", content="矩陣國際股份有限公司")
    meta(name="copyright", content="矩陣國際股份有限公司")
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="/widetile.png" />
    <meta name="msapplication-square310x310logo" content="/largetile.png" />

    link(rel="stylesheet" href="./css/bootstrap.min.css")
    link(rel="stylesheet" href="./css/animate.min.css")
    link(rel="stylesheet" href="./css/hamburgers.css")
    link(rel="stylesheet" href="./script/slidebars/slidebars.min.css")
    link(rel="stylesheet" href="./css/style.css")
    //- script(src='./script/base/modernizr.custom.js')
    script(src='./script/jquery-3.3.1.min.js')
    //- script( defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous")
    //- script(src='./script/base/jquery.easing.1.3.js')
    script(src='./script/slidebars/slidebars.min.js')
    script(src='./script/main.js')

    block head_end
	
  body.page
    div#wrapper-outer(canvas="container")
      div#wrapper.wrapper
        header.header-wrapper
          .header-content
            .container
              .logo
                a(href="index.html")
                  img(src="./images/logo.png", alt="")
              nav.main-menu
                include ../_base/head-menu.pug              
              botton.hamburger.hamburger--collapse
                span.hamburger-box
                  span.hamburger-inner
        main.main
          block content    
      footer.footer-wrapper
        include ../_base/_footer.pug
        block footer_block

    div.mobile_menu(off-canvas="left-mobile-menu left reveal")
      .menu_content        
        include ../_base/head-menu.pug      



  block body_end