
//** main-color
$main-color: #000 !default;
$hover-color: #6fa7c8 !default;
$company-color: #1a478a !default;
$og-width: 1400px;
$default-font-family: "Raleway", "Microsoft JhengHei" ,"Microsoft YaHei UI", 微软雅黑, メイリオ, "맑은 고딕", sans-serif;
$number-family: 'Saira', sans-serif;
$transparent: transparent;